//Primary
$Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

//Neutral
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);

//Background
$Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100%;
    position: relative;
    background-image: linear-gradient($Radial-Gradient);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
    height: auto;
    position: relative;
    min-width: 23.4375rem;
}

.header {
    outline: $Header-Outline 2px solid;
    border-radius: 3px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    .logo {
        max-width: 50%;
    }
}

.score-group {
    text-align: center;
    border: 1px white solid;
    flex-basis: 25%;
    padding: 0.3rem .1rem;
    font-size: 10px;
    color: $Dark-Text;
    border-radius: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;

    .score-group__score {
        color: $Score-Text;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    .score-group__number {
        flex-basis: 80%;
        font-size: 35px;
    }
}

.options {
    display: grid;
    user-select: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
    background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/bg-pentagon.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease;
    width: 17.438rem;
    height:20.717rem;
    column-gap: 2.5rem;
}



.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}


.option--1{
    grid-column: 1 / 3;
}

.option--2, .option--5{
    justify-self: flex-start;
}

.option--3, .option--4{
    justify-self: flex-end;
}


.option--4, .option--5{
    margin-top: 1rem;
}

.option--choosen {
    gap: 1.5rem;
    margin-top: 0;
    .wrapper:hover {
        transform: scale(1);
    }
}


.option--choosen1{
    grid-column:1/2;
}

.option--choosen2{
    grid-column:2/3;
}

.wrapper {
    border-radius: 50%;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    transition: .2s all ease-in-out;
    cursor: pointer;

    .wrapper__item {
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 2.3rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 5px hsl(0, 0%, 80%) inset;
        position: static;
        z-index: 10;
        cursor: pointer;
    }
}

.wrapper:hover {
    transform: scale(1.2);
}


.wrapper--papper {
    background-image: linear-gradient($Paper-Gradient);
    box-shadow: 0px 5px hsl(230, 89%, 52%);

    .papper {
        background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-paper.svg');
        background-size: 50%;
    }
}

.wrapper--scissors {
    background-image: linear-gradient($Scissors-Gradient);
    box-shadow: 0px 5px hsl(39, 89%, 40%);

    .scissors {
        background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-scissors.svg');
        background-size: 50%;
    }
}

.wrapper--spock{
    background-image: linear-gradient($Cyan);
    box-shadow: 0px 5px hsl(189, 59%, 40%);
    .spock{
        background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/icon-spock.svg');
        background-size: 50%;
    }
}

.wrapper--lizard{
    background-image: linear-gradient($Lizard-Gradient);
    box-shadow: 0px 5px hsl(261, 73%, 50%);
    .lizard{
        background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/icon-lizard.svg');
        background-size: 50%;
    }
}


.wrapper--rock {
    background-image: linear-gradient($Rock-Gradient);
    box-shadow: 0px 5px hsl(349, 71%, 42%);

    .rock {
        background-image: url('https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-rock.svg');
        background-size: 50%;
    }
}

.vacio {
    height: auto;

    .wrapper {
        background-image: none;
        box-shadow: none;
        background-color: hsl(214, 47%, 23%);

        .wrapper__item {
            opacity: 0;
        }
    }
}



.show-modal {
    color: white;
    background-color: transparent;
    border: thin white solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem 2rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.show-modal:hover {
    background-color: white;
    background-clip: text;
    color: $Dark-Text;
}

.modal-group {
    font-weight: 600;
    font-size: 30px;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
    top: -100vh;
    padding: 2rem;

    .modal-group__heading {
        z-index: 10;
        color: $Dark-Text;
    }

    .modal-group__icon {
        width: 10%;
        height: auto;
        fill: $Dark-Text;
        cursor: pointer;
    }
}

.modal-group.active {
    top: 0vh;
}

.result-group {
    text-align: center;
    grid-column: -3/-1;
    padding-top: 3rem;

    .result-group__text {
        display: block;
        font-size: 55px;
        margin-bottom: 1rem;
        height: 100%;
        font-family: 'Barlow Semi Condensed';
        font-weight: 700;
    }

    .result-group__button {
        border: none;
        color: $Dark-Text;
        height: 3rem;
        width: 10rem;
        background-color: white;
        border-radius: 5px;
        font-size: 16px;
        letter-spacing: 2px;
        font-family: 'Barlow Semi Condensed';
        font-weight: 600;
        cursor: pointer;
        transition: .2s all ease-in-out;
    }

    .result-group__button:hover{
        color: red;
    }
}


.wrapper--winner {
    outline: 15px rgba(96, 110, 133, .3) solid;
    border-radius: 50%;
    z-index: 5;
}

.wrapper--winner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    outline: 20px rgba(96, 110, 133, .2) solid;
    transform: scale(1.31);
    left: 0;
    top: 0;
    z-index: 0;
}

.wrapper--winner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    outline: 20px rgba(96, 110, 133, .1) solid;
    transform: scale(1.84);
    left: 0;
    top: 0;
    z-index: 0;
}



@media screen and (min-width: 750px){
    .header{
        width: 51.3%;
    }
}



@media screen and (min-width: 900px) {

    body{
        min-height: 100vh;
    }

    .header{
        margin-top: 2.55rem;
        padding: 1.06rem 1.45rem;
        border-radius:13px;
        outline: 3px $Header-Outline solid;
        align-items: stretch;
    }

    .container {
        gap: 0rem;
        min-height: 100vh;
        overflow:hidden;
    }

    .logo-container {
        flex-basis: 50%;
        padding: .4rem;
        .logo {
            max-width: 100%;
        }
    }

    .score-group {
        flex-basis: 23%;
        padding-top: 1rem;
        gap: .16rem;
        border-radius: 10px;

        .score-group__score{
            font-size: 17px;
            letter-spacing: 2px;
        }

        .score-group__number{
            font-size: 55px;
        }
    }


    .options {
        width: 30rem;
        position: relative;
        column-gap: 3.5rem;
        row-gap: 0rem;
        background-size: 70%;
        margin-top: 2.5rem;
        height: 28.299rem;
    }

    .option--2, .option--3{
        margin-bottom: 2.5rem;
    }

    .option--2, .option--5{
        justify-self: flex-start;
    }

    .option--4{
        justify-self: flex-end;
    }

    .wrapper {
        padding: 1rem;
        .wrapper__item {
           padding: 3.3rem;
        }
    }
    
    .option--choosen {
        grid-row: 1/3;
        justify-self: unset;
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
        .wrapper {
            padding: 1.8rem;
            .wrapper__item {
                padding: 7rem;
            }
        }
    }

    .options.active1 {
        width: 50%;
        align-items: center;
    }

    .options.active2 {
        width: 90%;
        justify-content: space-between;
    }


    .picked {
        position: absolute;
        top: 0;
        font-size: 23px;
        letter-spacing: 2px;
    }


    .result-group {
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .wrapper--winner {
        outline: 55px rgba(96, 110, 133, .3) solid;
    }

    .wrapper--winner::before {
        outline: 55px rgba(96, 110, 133, .2) solid;
        transform: scale(1.38);
    }

    .wrapper--winner::after {
        outline: 35px rgba(96, 110, 133, .1) solid;
        transform: scale(1.91);
    }

    .show-modal {
        margin-right: 2rem;
    }

    .modal-group {
        width: 25rem;
        border-radius: 10px;
        top: -120vh;
        justify-content: unset;
        gap: 3rem;

        .modal-group__heading {
            text-align: start;
            display: block;
            width: 100%;
        }

        .modal-group__icon {
            position: absolute;
            top: 5%;
            right: 5%;
            width: 5%;
            height: auto;
            z-index: 40;
        }
    }

    .modal-group.active {
        height: 30rem;
        top: 20%;
        z-index: 20;
        gap: 0;
    }
}