.attribution a {
  color: #3e52a3;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: white;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background-image: linear-gradient(#1f3756, #141539);
  position: relative;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2.5rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header {
  outline: #606e85 2px solid;
  border-radius: 3px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container .logo {
  max-width: 50%;
}

.score-group {
  text-align: center;
  border: 1px white solid;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0.3rem .1rem;
  font-size: 10px;
  color: #3b4363;
  border-radius: inherit;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score-group .score-group__score {
  color: #2a46c0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.score-group .score-group__number {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 35px;
}

.options {
  display: -ms-grid;
  display: grid;
  margin-top: 3.8rem;
  gap: .5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (10rem)[2];
      grid-template-rows: repeat(2, 10rem);
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/bg-triangle.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.option--choosen .wrapper:hover {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.option--choosen1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.option--choosen2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper {
  border-radius: 50%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  cursor: pointer;
}

.wrapper .wrapper__item {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 5px #cccccc inset;
          box-shadow: 0px 5px #cccccc inset;
  position: static;
  z-index: 10;
  cursor: pointer;
}

.wrapper:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrapper--papper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background-image: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0px 5px #183cf2;
          box-shadow: 0px 5px #183cf2;
}

.wrapper--papper .papper {
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-paper.svg");
}

.wrapper--scissors {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background-image: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0px 5px #c1810b;
          box-shadow: 0px 5px #c1810b;
}

.wrapper--scissors .scissors {
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-scissors.svg");
}

.wrapper--rock {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background-image: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0px 5px #b71f3b;
          box-shadow: 0px 5px #b71f3b;
}

.wrapper--rock .rock {
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-rock.svg");
}

.vacio {
  height: auto;
}

.vacio .wrapper {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #1f3756;
}

.vacio .wrapper .wrapper__item {
  opacity: 0;
}

.show-modal {
  color: white;
  background-color: transparent;
  border: thin white solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.show-modal:hover {
  background-color: white;
  background-clip: text;
  color: #3b4363;
}

.modal-group {
  font-weight: 600;
  font-size: 30px;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s;
  transition: all .5s;
  top: -100vh;
  padding: 2rem;
}

.modal-group .modal-group__heading {
  z-index: 10;
  color: #3b4363;
}

.modal-group .modal-group__icon {
  width: 10%;
  height: auto;
  fill: #3b4363;
  cursor: pointer;
}

.modal-group.active {
  top: 0vh;
}

.result-group {
  text-align: center;
  grid-column: -3/-1;
  padding-top: 3rem;
}

.result-group .result-group__text {
  display: block;
  font-size: 55px;
  margin-bottom: 1rem;
  height: 100%;
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
}

.result-group .result-group__button {
  border: none;
  color: #3b4363;
  padding: 1rem 2.5rem;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.result-group .result-group__button:hover {
  color: red;
}

.wrapper--winner {
  outline: 15px rgba(96, 110, 133, 0.3) solid;
  border-radius: 50%;
  z-index: 5;
}

.wrapper--winner::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  outline: 20px rgba(96, 110, 133, 0.2) solid;
  -webkit-transform: scale(1.23);
          transform: scale(1.23);
  left: 0;
  top: 0;
  z-index: 0;
}

.wrapper--winner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  outline: 20px rgba(96, 110, 133, 0.1) solid;
  -webkit-transform: scale(1.62);
          transform: scale(1.62);
  left: 0;
  top: 0;
  z-index: 0;
}

@media screen and (min-width: 750px) {
  .header {
    width: 51.3%;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    margin-top: 2.55rem;
    padding: 1.06rem 1.45rem;
    border-radius: 13px;
    outline: 3px #606e85 solid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .container {
    gap: 0rem;
    min-height: 100vh;
  }
  .logo-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: .4rem;
  }
  .logo-container .logo {
    max-width: 100%;
  }
  .score-group {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
    padding-top: 1rem;
    gap: .16rem;
    border-radius: 10px;
  }
  .score-group .score-group__score {
    font-size: 17px;
    letter-spacing: 2px;
  }
  .score-group .score-group__number {
    font-size: 55px;
  }
  .options {
    width: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 4.5rem;
    background-size: 62% 65%;
  }
  .wrapper {
    padding: 1.4rem;
  }
  .wrapper .wrapper__item {
    padding: 4.6rem;
  }
  .option--choosen {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .option--choosen .wrapper {
    padding: 1.8rem;
  }
  .option--choosen .wrapper .wrapper__item {
    padding: 7rem;
  }
  .options.active1 {
    width: 50%;
  }
  .options.active2 {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .picked {
    position: absolute;
    top: 0;
    font-size: 23px;
    letter-spacing: 2px;
  }
  .result-group {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .wrapper--winner {
    outline: 55px rgba(96, 110, 133, 0.3) solid;
  }
  .wrapper--winner::before {
    outline: 55px rgba(96, 110, 133, 0.2) solid;
    -webkit-transform: scale(1.38);
            transform: scale(1.38);
  }
  .wrapper--winner::after {
    outline: 35px rgba(96, 110, 133, 0.1) solid;
    -webkit-transform: scale(1.91);
            transform: scale(1.91);
  }
  .show-modal {
    margin-right: 2rem;
  }
  .modal-group {
    width: 25rem;
    border-radius: 10px;
    top: -120vh;
  }
  .modal-group .modal-group__heading {
    text-align: start;
    display: block;
    width: 100%;
  }
  .modal-group .modal-group__icon {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 5%;
    height: auto;
    z-index: 40;
  }
  .modal-group.active {
    height: 25rem;
    top: 20%;
    z-index: 20;
  }
}
/*# sourceMappingURL=styles.css.map */