.attribution a {
  color: #3e52a3;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background-image: linear-gradient(#1f3756, #141539);
  color: white;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  justify-content: space-between;
}

.header {
  outline: #606e85 2px solid;
  border-radius: 3px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .item-container {
  padding: .6rem .2rem;
}

.header .item-container .item-container__item {
  display: block;
  line-height: 1.1rem;
  font-size: 22px;
}

.header .score-group {
  text-align: center;
  border: 1px white solid;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0.5rem .1rem;
  font-size: 10px;
  color: #2a46c0;
  border-radius: inherit;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .score-group .score-group__number {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 35px;
}

.options-container {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/main/images/bg-triangle.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.options-container .options-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.options-container .options-container__item .wrapper {
  border-radius: 50%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.options-container .options-container__item .wrapper .options__item {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 5px #cccccc inset;
          box-shadow: 0px 5px #cccccc inset;
}

.options-container .options-container__item .options > * {
  display: none;
}

.options-container .papper-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background-image: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0px 5px #183cf2;
          box-shadow: 0px 5px #183cf2;
}

.options-container .papper-wrapper .papper {
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-paper.svg");
}

.options-container .scissors-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background-image: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0px 5px #c1810b;
          box-shadow: 0px 5px #c1810b;
}

.options-container .scissors-wrapper .scissors {
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-scissors.svg");
}

.options-container .item3 {
  grid-column: -3/-1;
}

.options-container .item3 .rock-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background-image: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0px 5px #b71f3b;
          box-shadow: 0px 5px #b71f3b;
}

.options-container .item3 .rock-wrapper .rock {
  background-image: url("https://raw.githubusercontent.com/Julio9999/rock-papper-scissors-master/c599c840ffd240848ccce563b3d9bf45cf67a3d1/images/icon-rock.svg");
}

.show-modal {
  color: white;
  background-color: transparent;
  border: thin white solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 2rem;
  letter-spacing: 2px;
}

.modal-rules {
  font-weight: 600;
  font-size: 30px;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s;
  transition: all .5s;
  top: -100vh;
  padding: 2rem;
}

.modal-rules .modal-rules__heading {
  z-index: 10;
  color: #3b4363;
}

.modal-rules .modal-rules__icon {
  width: 10%;
  height: auto;
  fill: #3b4363;
}

.modal-rules-active {
  top: 0vh;
}
/*# sourceMappingURL=styles.css.map */